{% extends "layout.html.twig" %}

{% block title %}{{ "General Readings"|xlt }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h2>{{ "General Readings"|xlt }}</h2>
            <p>{{ "No general readings have been documented."|xlt }}</p>
            <a href="{{ web_root }}/interface/forms/general_readings/new.php" class="btn btn-primary">{{ "Add General Readings"|xlt }}</a>
        </div>
    </div>
</div>
{% endblock %}
